<div id="images">
<%= render :partial => 'image' %>
</div>
<div class="clear"></div>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
<div class="progress progress-striped"><div class="progress-bar" style="width: 0%"></div></div>
</div>
</script>


